body {
  background-color: azure;
}

.contenedorIndex {
  background-color: azure;
  width: 90%;
  height: 150vh;
  font-size: 2rem;
  text-align: center;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-template-areas: "header header header" "section1 section1 section1" "section2 section3 section4" "footer footer footer";
}

.contenedorNosotros {
  background-color: azure;
  width: 90%;
  height: 150vh;
  font-size: 2rem;
  text-align: center;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header" "opciones opciones" "quienesSomos quienesSomos" "equipo equipo" "cargo1 cargo2" "footer footer";
}

.contenedorSoluciones {
  background-color: azure;
  width: 90%;
  height: 150vh;
  font-size: 2rem;
  text-align: center;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "solucionesWeb" "integraciones" "desktop" "footer";
}

@media screen and (max-width: 480px) {
  .contenedorIndex {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    grid-template-areas: "header" "section1" "section2" "section3" "section4" "footer";
  }
  .contenedorNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header" "opciones" "quienesSomos" "equipo" "cargo1" "cargo2" "footer";
  }
  .contenedorSoluciones {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header" "solucionesWeb" "integraciones" "desktop" "footer";
  }
}
.header {
  background-color: azure;
  height: 17vh;
  padding: 0vh;
  grid-area: header;
}

.logo {
  width: 120px;
  height: 11.5vh;
}

.menu {
  font-size: medium;
  padding-bottom: 10px;
  margin: 10px auto;
  text-align: center;
  height: 10vh;
}
.menu li {
  display: inline-block;
  text-align: right;
  padding: 10px;
}
.menu li a {
  padding: 20px;
  color: rgb(59, 59, 233);
  margin: 10px;
  text-decoration: none;
}
.menu li a:hover {
  color: white;
  background-color: rgba(141, 83, 229, 0.71);
  border-radius: 10%;
}

@media screen and (max-width: 480px) {
  .menuHijo {
    background-color: rgb(219, 243, 243);
  }
}
.menuNosotros {
  font-style: "Roboto", sans-serif;
  font-size: medium;
  list-style: none;
  top: 10px;
  text-align: center;
  padding: 20px;
}
.menuNosotros li {
  display: inline-block;
  text-align: center;
  padding: 20px;
}
.menuNosotros li a {
  padding: 20px;
  color: rgb(9, 70, 145);
  margin: 50px;
  text-decoration: none;
}
.menuNosotros li a:hover {
  color: white;
  background-color: rgb(3, 27, 56);
}

.imagen {
  width: 50px;
  margin-left: -10px;
  margin-top: 10px;
}

.imagenSoluciones {
  width: 250px;
}

.DerechaImagen {
  width: 250px;
  height: 200px;
  margin-left: 1100px;
}

@media screen and (max-width: 480px) {
  .imagenSoluciones {
    width: 120px;
    margin-left: 140px;
  }
  .DerechaImagen {
    width: 120px;
    height: 120px;
    margin-left: 140px;
  }
}
.seccionImagenPrincipalIndex {
  margin: 20px auto;
  background-image: url(../fotos/FondoIndex.jpg);
  height: 50vh;
  text-align: left;
  grid-area: section1;
  width: 100%;
}

.seccion2Index {
  background-color: azure;
  grid-area: section2;
  text-align: left;
  height: 40vh;
}

.seccion3Index {
  background-color: azure;
  grid-area: section3;
  text-align: left;
  height: 40vh;
}

.seccion4Index {
  background-color: azure;
  grid-area: section4;
  text-align: left;
  height: 40vh;
}

.seccionOpciones {
  margin-bottom: 20px;
  background-color: azure;
  grid-area: opciones;
  text-align: left;
  height: 15vh;
}

.seccionQuienesSomos {
  border-top: solid 1px;
  padding-top: 10px;
  background-color: azure;
  grid-area: quienesSomos;
  text-align: left;
  height: 70vh;
}

.seccionEquipo {
  background-color: azure;
  grid-area: equipo;
  text-align: left;
  height: 10vh;
}

.seccionCargo1 {
  background-color: azure;
  grid-area: cargo1;
  text-align: center;
  height: 50vh;
}
.seccionCargo1 .ImgCargo {
  width: 50%;
  height: 250px;
}

.seccionCargo2 {
  background-color: azure;
  grid-area: cargo2;
  text-align: center;
  height: 50vh;
}
.seccionCargo2 .ImgCargo {
  width: 50%;
  height: 250px;
}

@media screen and (max-width: 480px) {
  .seccionQuienesSomos {
    background-color: azure;
    grid-area: quienesSomos;
    text-align: left;
    height: 160vh;
  }
  .seccionCargo1 .ImgCargo {
    width: 70%;
    height: 200px;
  }
  .seccionCargo2 .ImgCargo {
    width: 70%;
    height: 200px;
  }
}
.seccionSolucionesWeb {
  background-color: azure;
  grid-area: solucionesWeb;
  text-align: left;
  height: 35vh;
}

.seccionIntegraciones {
  background-color: azure;
  grid-area: integraciones;
  text-align: left;
  height: 40vh;
}

.seccionDesktop {
  background-color: azure;
  grid-area: desktop;
  text-align: left;
  height: 35vh;
}

.footer {
  background-color: azure;
  margin-top: 50px;
  border-top: solid 1px;
  grid-area: footer;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: medium;
  /* margin-top: 10px; */
  padding: 10px;
}

.DerechaParrafo {
  z-index: 1;
  margin-top: -200px;
  padding-left: 10px;
  padding-top: 20px;
  margin-left: 300px;
  position: relative;
  width: 75%;
}
.DerechaParrafo .p2 {
  text-align: justify;
}

.IzquierdaParrafo {
  z-index: 1;
  margin-top: -220px;
  padding-left: 40px;
  padding-top: 20px;
  position: relative;
  width: 80%;
}
.IzquierdaParrafo .p2 {
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .DerechaParrafo {
    margin-top: -10px;
    padding-left: 0px;
    padding-top: 20px;
    margin-left: 10px;
    position: relative;
    width: 95%;
  }
  .DerechaParrafo .p2 {
    font-size: 12px;
    text-align: justify;
  }
  .IzquierdaParrafo {
    margin-top: -10px;
    padding-left: 0px;
    padding-top: 20px;
    margin-left: 10px;
    position: relative;
    width: 95%;
  }
  .IzquierdaParrafo .p2 {
    font-size: 12px;
    text-align: justify;
  }
}
.nosotrosTitulo {
  margin: 20px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 0;
}

.solucionesWebTitulo {
  text-align: left;
  padding-left: 30px;
}

.integracionesTitulo {
  text-align: right;
  padding-right: 40px;
}

@media screen and (max-width: 480px) {
  .solucionesWebTitulo {
    text-align: center;
  }
  .integracionesTitulo {
    padding-right: 70px;
  }
}

/*# sourceMappingURL=estilo.css.map */
