@mixin contenedor($bgColor, $gridTemplateColumns, $gridTemplateRows, $gridTemplateAreas, $gap, $width){
    background-color: $bgColor;
    width: $width;
    height: 150vh;
    // border: solid 1px; 
    font-size: 2rem;
    text-align: center;
    margin:10px auto;

    display: grid;
    grid-template-columns: $gridTemplateColumns;
    grid-template-rows: $gridTemplateRows;
    grid-template-areas: $gridTemplateAreas;

    @if $gap != 0{
        gap: $gap;
    
        }
 

}




.contenedorIndex{

    @include contenedor ($fondoSitio,1fr 1fr 1fr,1fr 1fr 3fr 1fr,"header header header"
        "section1 section1 section1"
        "section2 section3 section4"
        "footer footer footer",0,90%)
}


.contenedorNosotros{

    @include contenedor ($fondoSitio,
    1fr 1fr,
    1fr 1fr 1fr 1fr 1fr 1fr,
        "header header"
        "opciones opciones"
        "quienesSomos quienesSomos"
        "equipo equipo"
        "cargo1 cargo2"
        "footer footer",0,90%)
}

.contenedorSoluciones{

    @include contenedor ($fondoSitio,
    1fr,
    1fr 1fr 1fr 1fr 1fr,
        "header"
        "solucionesWeb"
        "integraciones" 
        "desktop"
        "footer",20px,90%)
    
}

.contenedorPortafolio{

    @include contenedor ($fondoSitio,
    1fr,
    1fr 1fr 1fr,
        "header"
        "portafolio"
        "footer",0,90%)
    
}

.contenedorContacto{

    @include contenedor ($fondoSitio,
    1fr,
    1fr 1fr 1fr,
        "header"
        "contacto"
        "footer",0,90%)
    
}



@media screen and (max-width: 480px){
    .contenedorIndex{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
        grid-template-areas: 
            "header" 
            "section1"
            "section2" 
            "section3"
            "section4" 
            "footer";  
    }

    .contenedorNosotros{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "header" 
            "opciones"
            "quienesSomos" 
            "equipo"
            "cargo1" 
            "cargo2"
            "footer";
    }

    .contenedorSoluciones{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "header" 
            "solucionesWeb"
            "integraciones"
            "desktop"
            "footer";
    }

    .contenedorPortafolio{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "header" 
            "portafolio"
            "footer";
    }

    .contenedorContacto{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "header" 
            "contacto"
            "footer";
    }


}

@media screen and (min-width: 1900px){

    .contenedorNosotros{

        @include contenedor ($fondoSitio,
        1fr 1fr,
        1fr 1fr 1fr 1fr 1fr 1fr,
            "header header"
            "opciones opciones"
            "quienesSomos quienesSomos"
            "equipo equipo"
            "cargo1 cargo2"
            "footer footer",0,60%)
    }

    .contenedorSoluciones{

        @include contenedor ($fondoSitio,
        1fr,
        1fr 1fr 1fr 1fr 1fr,
            "header"
            "solucionesWeb"
            "integraciones" 
            "desktop"
            "footer",0,60%)
        
    }
    
    .contenedorPortafolio{
    
        @include contenedor ($fondoSitio,
        1fr,
        1fr 1fr 1fr,
            "header"
            "portafolio"
            "footer",0,60%)
        
    }

    .contenedorContacto{
    
        @include contenedor ($fondoSitio,
        1fr,
        1fr 1fr 1fr,
            "header"
            "contacto"
            "footer",0,60%)
        
    }


}