.nosotrosTitulo{
    // height: 150px;
    margin: 20px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 0;
}

// .nosotros{
//     z-index: 2;
//     position: relative;
// }